{% load bootstrap4%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="../../static/css/search.css"> 
    {% endblock %}

</head>
<body>
    
    {%block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    {% if images %}
                      <h2>Found {{images|length }} of searched image {{message}}</h2>
                    {% else %}
                      <h2 > Found 0 image for the search image {{message}}</h2>
                    {% endif %}
                
                  </div>
            </div>
        </div>

        <div class="container">
            {% if images %}
            {% for photo in images %}

            <div class="col-md-4">

                <a href="" data-toggle= "modal" data-target="#{{photo.id}}"><img src="{{photo.image.url}}" class="img-responsive" alt="Image" width="1200px"></a>
                <h4 id='des'>{{photo.description}}</h4>

            </div>

            <div class="modal fade" id="{{photo.id}}" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content modal-lg">
                        <div class="modal-header">
                            <h5 class="modal-title">{{photo.name}}</h5>
                        </div>

                        <div class="modal-body">
                            <img class="img-responsive" src="{{photo.image.url}}" alt="Image" height="400px" width="300px" >
                            <div class="moreinfo">
                                <p>{{photo.description}}</p>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
        {% endif %}
        </div>
    </div>

{% endblock %}
</body>
</html>